.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 756px;
  min-height: 100vh;

  &_socialMedia {
    flex: 0 0 16.6%;
    max-width: 16.6%;
    background-color: #000;
    padding: 2em;

    .social_links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      height: 100%;

      a {
        svg {
          font-size: 1.8em;
          color: #fff;
        }
      }
    }

    @media screen and (max-width: 990px) {
      flex-basis: 100%;
      max-width: 100%;
      min-height: 200px;
    }
  }

  &_image {
    flex: 0 0 48.3%;
    max-width: 48.3%;
    // min-height: 756px;
    min-height: 100vh;

    .image {
      // height: 756px;
      height: 100vh;
    }

    @media screen and (max-width: 990px) {
      flex-basis: 50%;
      max-width: 50%;
    }

    @media screen and (max-width: 768px) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &_info {
    flex: 0 0 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35%;
    padding: 2em;
    background-color: #ff9d00;

    .info {
      display: flex;
      flex-direction: column;
      gap: 1.25em;
      color: #fff;

      h1 {
        font-size: calc(1.25em + 0.8vw);
        letter-spacing: 0.25em;
      }

      svg {
        font-size: calc(2em + 2vw);
      }
    }

    @media screen and (max-width: 990px) {
      flex-basis: 50%;
      max-width: 50%;
    }

    @media screen and (max-width: 768px) {
      flex-basis: 100%;
      max-width: 100%;

      .info {
        justify-content: center;
        align-items: center;

        h1 {
          font-size: calc(1.25em + 0.5vw);
          text-align: center;
        }
      }
    }
  }
}
